$carousel-width: 100%;
$carousel-height: 400px;
$item-half-width: 50%;
$item-content-padding: 20px;

$button-color: #fff;
$button-padding: 10px 20px;
$button-border-radius: 5px;
$animation-duration: 20s;
$primary-color: #333;
$secondary-color: #ff6d6d;
$background-color: #f8f8f8;
$button-color: #1c683c;
$input-border-color: #e0e0e0;
$text-color: #fff;
$hover-color: #1f5c29;
$link-color: #0066cc;
$card-background: #fff;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$rating-color: #ffd700; /* Gold color for the stars */

@mixin header {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2rem;
  color: black;
  margin-bottom: 3rem;
}

@mixin container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

@mixin img {
  height: 12rem;
}

@mixin cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin para {
  width: 60%;
  text-align: center;
  color: black;
}

@mixin btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 6rem;
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
}

.container {
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: 10px;
    list-style: none;
    margin: 2rem;

    &--1 {
      margin-left: 20px;
    }
    &--13 {
      border: none;
    }
    &--14 {
      background-color: orangered;
      color: white;
      padding: 5px;
      border-radius: 3px;
      border: orangered;
    }

    &--15 {
      height: 15px;
      width: 15px;
      margin-right: 10px;
    }
  }
}

.header {
  position: relative;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: black;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__btn {
    @include btn;
  }

  &__img {
    width: 100%;
    height: 80vh;
  }
}

.how {
  &__header {
    @include header;
  }

  &__container {
    @include container;
  }

  &__choose {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }

  &__deliver {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }

  &__cook {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }
}

.carousel {
  width: $carousel-width;
  height: $carousel-height;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="radio"] {
    display: none;
  }

  .carousel__inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%;
  }

  .carousel-item {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &__image {
      width: $item-half-width;
      height: $carousel-height;
      background-size: cover;
      background-position: center;
      border-radius: 0 0 6rem;
      background-color: orangered;
    }

    &__content {
      width: $item-half-width;
      height: $carousel-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $item-content-padding;
      background-color: orangered;
      color: #fff;

      h1 {
        margin: 0 0 10px 0;
        font-size: 4rem;
      }

      p {
        margin: 0 0 20px 0;
        font-size: 1.5rem;
        color: #fff;
      }

      button {
        background-color: orangered;
        border: 1px solid black;
        padding: $button-padding;
        width: 30%;

        border-radius: $button-border-radius;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    }
  }

  .carousel__nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    .carousel__nav__label {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #ccc;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #aaa;
      }
    }
  }
}

#carousel-1:checked ~ .carousel__inner {
  transform: translateX(0%);
}

#carousel-2:checked ~ .carousel__inner {
  transform: translateX(-100%);
}

#carousel-3:checked ~ .carousel__inner {
  transform: translateX(-200%);
}

#carousel-4:checked ~ .carousel__inner {
  transform: translateX(-300%);
}

.why {
  &__header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: black;
    font-size: 2rem;
  }

  &__container {
    display: flex;
    flex: 1;
  }

  &__chef {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }

  &__money {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }

  &__produce {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }

  &__decisions {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }

  &__commitment {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }

  &__box {
    @include cards;

    &--img {
      @include img;
    }

    &--p {
      @include para;
    }
  }
  &__btn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    margin-top: 5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
}

.card-section {
  padding: 40px 20px;
  text-align: center;

  .section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $text-color;
  }

  .card-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .cards-container {
      display: flex;
      overflow: hidden;
      width: 100%;
      scroll-snap-type: x mandatory;

      .card {
        background-color: $card-background;
        box-shadow: $card-shadow;
        border-radius: 8px;
        margin: 0 10px;
        min-width: 250px;
        max-width: 300px;
        overflow: hidden;
        scroll-snap-align: center;

        .card-image {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        .card-content {
          padding: 15px;
          text-align: left;

          h3 {
            font-size: 1.2rem;
            margin-bottom: 10px;
            color: black;
          }

          p {
            font-size: 1rem;
            margin-bottom: 10px;
            color: black;
          }

          a {
            font-size: 1rem;
            color: $link-color;
          }
        }
      }
    }

    .carousel-button {
      background-color: $button-color;
      color: black;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: $card-shadow;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        background-color: $hover-color;
      }

      &.left {
        left: -20px;
      }

      &.right {
        right: -20px;
      }

      img {
        width: 20px;
        height: 20px;
        transform: scaleX(-1);

        &.right img {
          transform: scaleX(1);
        }
      }
    }
  }
}

.testimonials-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;

  .testimonial {
    background-color: white;

    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;

    .testimonial-content {
      h4 {
        display: flex;
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: black;
        font-weight: bold;
      }

      .rating {
        font-size: 1.5rem;
        color: $rating-color;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: black;
        font-style: italic;
      }
    }
  }
}

.footer {
  background-color: $background-color;
  padding: 20px 0;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 20px;
  }

  &__middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  &__column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    h4 {
      margin-bottom: 10px;
    }
  }
  &__links {
    list-style: none;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  &__subscribe {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    border: 1px solid $input-border-color;
    border-right: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0 0 0.25rem;
    outline: none;
    &:focus {
      border-color: $primary-color;
    }
  }

  &__button {
    background-color: $button-color;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $hover-color;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    a {
      margin: 0 10px;
      img {
        width: 24px;
      }
    }
  }
}
